################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/scr/SEG.Api/.vs
/scr/SAF/GES.Api/bin/Debug/net6.0
/scr/SAF/GES.Api/obj
/scr/SAF/.vs
/scr/SAF/CoreGES/bin/Debug/net6.0
/scr/SAF/CoreGES/obj
/scr/SAF/CoreSAF/bin/Debug/net6.0
/scr/SAF/CoreSAF/obj/Debug/net6.0
/scr/SAF/CoreSAF/obj
/scr/SAF/CoreSEG/bin/Debug/net6.0
/scr/SAF/CoreSEG/obj
/scr/SAF/SAF/bin/Debug/net6.0
/scr/SAF/SAF/obj
/scr/SAF/SAF.Api/bin/Debug/net6.0
/scr/SAF/SAF.Api/obj
/scr/SAF/SEG.Api/bin/Debug/net6.0
/scr/SAF/SEG.Api/obj
/scr/CoreGES/bin/Debug/net6.0
/scr/CoreGES/obj
/scr/CoreSAF/.vs/CoreSAF
/scr/CoreSAF/bin/Debug/net6.0
/scr/.vs/GES.Api/DesignTimeBuild
/scr/.vs/GES.Api/FileContentIndex
/scr/.vs/GES.Api/v17
/scr/.vs/ProjectEvaluation
/scr/.vs
/scr/CoreSAF/obj
/scr/CoreSEG/bin/Debug/net6.0
/scr/CoreSEG/obj
/scr/GES.Api/.vs/GES.Api
/scr/GES.Api/bin/Debug/net6.0
/scr/GES.Api/obj
/scr/SAF/bin/Debug/net6.0
/scr/SAF/obj
/scr/SAF.Api/bin/Debug/net6.0
/scr/SAF.Api/obj
/scr/SEG.Api/bin/Debug/net6.0
/scr/SEG.Api/obj
/scr/CoreGeneral/bin/Debug
/scr/CoreGeneral/obj
/scr/Control.Api/bin/Debug/net6.0
/scr/Control.Api/obj
/scr/Control/bin/Debug/net6.0
/scr/Control/obj
/scr/Creative/bin/Debug/net6.0
/scr/Creative/obj
/scr/Defender.Api/bin/Debug/net6.0
/scr/Defender.Api/obj
/scr/Fordward/bin/Debug/net6.0
/scr/Fordward/obj
/scr/Fordward.Api/bin/Debug/net6.0
/scr/Fordward.Api/obj
/scr/Lineup/bin/Debug/net6.0
/scr/Lineup/obj
/scr/Lineup.Api/bin/Debug/net6.0
/scr/Lineup.Api/obj
/scr/Spherical/bin/Debug/net6.0
/scr/Spherical/obj
/scr/Tactic/bin/Debug/net6.0
/scr/Tactic/obj
/scr/Tactic.Api/bin/Debug/net6.0
/scr/Tactic.Api/obj
/scr/Defender/bin/Debug/net6.0
/scr/Defender/obj
/scr/Control/bin/Release/net6.0
/scr/Control.Api/bin/Release/net6.0
/scr/Creative/bin/Release/net6.0
/scr/Defender/bin/Release/net6.0
/scr/Defender.Api/bin/Release/net6.0
/scr/Fordward/bin/Release/net6.0
/scr/Fordward.Api/bin/Release/net6.0
/scr/Lineup/bin/Release/net6.0
/scr/Lineup.Api/bin/Release/net6.0
/scr/Spherical/bin/Release/net6.0
/scr/Tactic/bin/Release/net6.0
/scr/Tactic.Api/bin/Release/net6.0
/scr/Defender.Api/Templates
/src/.vs
/src/Control/obj
/src/Control.Api/obj
/src/Creative/obj
/src/Defender/obj
/src/Defender.Api/obj
/src/Fordward/obj
/src/Fordward.Api/obj
/src/Lineup/obj
/src/Lineup.Api/obj
/src/Spherical/obj
/src/Tactic/obj
/src/Tactic.Api/obj
/src/Spherical/bin/Debug/net8.0
/src/Creative/bin/Debug/net8.0
/src/Defender.Api/bin/Debug/net8.0
/src/Defender.Cliente/obj
/src/Spherical.Blazor/bin/Debug/net8.0/Spherical.Creative.dll
/src/Spherical.Blazor/bin/Debug/net8.0/Spherical.Creative.pdb
/src/Spherical.Blazor/obj/Debug/net8.0/ref/Spherical.Creative.dll
/src/Spherical.Blazor/obj/Debug/net8.0/refint/Spherical.Creative.dll
/src/Spherical.Blazor/obj/Debug/net8.0/Spherical.Creative.AssemblyInfo.cs
/src/Spherical.Blazor/obj/Debug/net8.0/Spherical.Creative.AssemblyInfoInputs.cache
/src/Spherical.Blazor/obj/Debug/net8.0/Spherical.Creative.dll
/src/Spherical.Blazor/obj/Debug/net8.0/Spherical.Creative.pdb
/src/Spherical.Blazor/obj/Debug/net8.0/Spherical.Creative.sourcelink.json
/src/Spherical.Api/bin/Debug/net8.0/Spherical.Api.dll
/src/Spherical.Api/bin/Debug/net8.0/Spherical.Api.exe
/src/Spherical.Api/bin/Debug/net8.0/Spherical.Api.pdb
/src/Spherical.Api/bin/Debug/net8.0/Spherical.Client.dll
/src/Spherical.Api/bin/Debug/net8.0/Spherical.Client.pdb
/src/Spherical.Api/bin/Debug/net8.0/Spherical.Core.dll
/src/Spherical.Api/bin/Debug/net8.0/Spherical.Core.pdb
/src/Spherical.Api/obj/Debug/net8.0/ref/Spherical.Api.dll
/src/Spherical.Api/obj/Debug/net8.0/apphost.exe
/src/Spherical.Api/obj/Debug/net8.0/refint/Spherical.Api.dll
/src/Spherical.Api/obj/Debug/net8.0/ApiEndpoints.json
/src/Spherical.Api/obj/Debug/net8.0/Spherical.Api.AssemblyInfo.cs
/src/Spherical.Api/obj/Debug/net8.0/Spherical.Api.AssemblyInfoInputs.cache
/src/Spherical.Api/obj/Debug/net8.0/Spherical.Api.csproj.AssemblyReference.cache
/src/Spherical.Api/obj/Debug/net8.0/Spherical.Api.csproj.CoreCompileInputs.cache
/src/Spherical.Api/obj/Debug/net8.0/Spherical.Api.dll
/src/Spherical.Api/obj/Debug/net8.0/Spherical.Api.pdb
/src/Spherical.Api/obj/Debug/net8.0/Spherical.Api.sourcelink.json
/src/Spherical.Api/obj/Debug/net8.0/EndpointInfo/Spherical.Api.json
/src/Spherical.Client/bin/Debug/net8.0/Spherical.Client.dll
/src/Spherical.Client/bin/Debug/net8.0/Spherical.Client.pdb
/src/Spherical.Client/bin/Debug/net8.0/Spherical.Core.dll
/src/Spherical.Client/bin/Debug/net8.0/Spherical.Core.pdb
/src/Spherical.Client/obj/Debug/net8.0/ref/Spherical.Client.dll
/src/Spherical.Client/obj/Debug/net8.0/refint/Spherical.Client.dll
/src/Spherical.Client/obj/Debug/net8.0/Spherical.Client.AssemblyInfo.cs
/src/Spherical.Client/obj/Debug/net8.0/Spherical.Client.AssemblyInfoInputs.cache
/src/Spherical.Client/obj/Debug/net8.0/Spherical.Client.csproj.AssemblyReference.cache
/src/Spherical.Client/obj/Debug/net8.0/Spherical.Client.csproj.CoreCompileInputs.cache
/src/Spherical.Client/obj/Debug/net8.0/Spherical.Client.dll
/src/Spherical.Client/obj/Debug/net8.0/Spherical.Client.pdb
/src/Spherical.Client/obj/Debug/net8.0/Spherical.Client.sourcelink.json
/src/Spherical.Core/obj/Debug/net8.0/Spherical.Core.AssemblyInfo.cs
/src/Spherical.Core/obj/Debug/net8.0/Spherical.Core.AssemblyInfoInputs.cache
/src/Spherical.Core/obj/Debug/net8.0/Spherical.Core.csproj.CoreCompileInputs.cache
/src/Spherical.Core/obj/Debug/net8.0/Spherical.Core.dll
/src/Spherical.Core/obj/Debug/net8.0/Spherical.Core.pdb
/src/Spherical.Core/obj/Debug/net8.0/Spherical.Core.sourcelink.json
/src/Spherical.Core/bin/Debug/net8.0/Spherical.Core.dll
/src/Spherical.Core/bin/Debug/net8.0/Spherical.Core.pdb
/src/Spherical.Core/obj/Debug/net8.0/ref/Spherical.Core.dll
/src/Spherical.Core/obj/Debug/net8.0/refint/Spherical.Core.dll
/src/Spherical.Api/bin/Debug/net8.0
/src/Spherical.Api/obj
/src/Spherical.Blazor/bin/Debug/net8.0
/src/Spherical.Blazor/obj
/src/Spherical.Client/bin/Debug/net8.0
/src/Spherical.Client/obj
/src/Spherical.Core/bin/Debug/net8.0
/src/Spherical.Core/obj
/src/Spherical/bin/Debug/net9.0
/src/Spherical.Api/bin/Debug/net9.0
/src/Spherical.Blazor/bin/Debug/net9.0
/src/Spherical.Client/bin/Debug/net9.0
/src/Spherical.Core/bin/Debug/net9.0
/src/Spherical/bin/Debug/net10.0
/src/Spherical.Api/bin/Debug/net10.0
/src/Spherical.Blazor/bin/Debug/net10.0
/src/Spherical.Client/bin/Debug/net10.0
/src/Spherical.Core/bin/Debug/net10.0
src/Spherical.Api/bin/Release/net10.0/Azure.Identity.dll
src/Spherical.Api/bin/Release/net10.0/Humanizer.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.Bcl.Cryptography.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.Build.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.Build.Framework.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.Build.Tasks.Core.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.Build.Utilities.Core.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.CodeAnalysis.CSharp.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.CodeAnalysis.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.CodeAnalysis.ExternalAccess.RazorCompiler.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.CodeAnalysis.Workspaces.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.Data.SqlClient.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.EntityFrameworkCore.Abstractions.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.EntityFrameworkCore.Design.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.EntityFrameworkCore.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.EntityFrameworkCore.Relational.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.EntityFrameworkCore.SqlServer.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.Extensions.DependencyModel.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.Identity.Client.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.Identity.Client.Extensions.Msal.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.IdentityModel.Abstractions.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.IdentityModel.JsonWebTokens.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.IdentityModel.Logging.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.IdentityModel.Protocols.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.IdentityModel.Tokens.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.NET.StringTools.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.OpenApi.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.SqlServer.Server.dll
src/Spherical.Api/bin/Release/net10.0/Microsoft.Win32.SystemEvents.dll
src/Spherical.Api/bin/Release/net10.0/Mono.TextTemplating.dll
src/Spherical.Api/bin/Release/net10.0/Newtonsoft.Json.dll
src/Spherical.Api/bin/Release/net10.0/NLog.dll
src/Spherical.Api/bin/Release/net10.0/RestSharp.dll
src/Spherical.Api/bin/Release/net10.0/Spherical.Api.dll
src/Spherical.Api/bin/Release/net10.0/Spherical.Api.pdb
src/Spherical.Api/bin/Release/net10.0/Spherical.Api.deps.json
src/Spherical.Api/bin/Release/net10.0/Spherical.Api.runtimeconfig.json
src/Spherical.Api/bin/Release/net10.0/Spherical.Api.staticwebassets.endpoints.json
src/Spherical.Api/bin/Release/net10.0/Spherical.Client.dll
src/Spherical.Api/bin/Release/net10.0/Spherical.Client.pdb
src/Spherical.Api/bin/Release/net10.0/Spherical.Core.dll
src/Spherical.Api/bin/Release/net10.0/Spherical.Core.pdb
src/Spherical.Api/bin/Release/net10.0/Swashbuckle.AspNetCore.Swagger.dll
src/Spherical.Api/bin/Release/net10.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/Spherical.Api/bin/Release/net10.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/Spherical.Api/bin/Release/net10.0/System.ClientModel.dll
src/Spherical.Api/bin/Release/net10.0/System.CodeDom.dll
src/Spherical.Api/bin/Release/net10.0/System.Composition.AttributedModel.dll
src/Spherical.Api/bin/Release/net10.0/System.Composition.Convention.dll
src/Spherical.Api/bin/Release/net10.0/System.Composition.Hosting.dll
src/Spherical.Api/bin/Release/net10.0/System.Composition.Runtime.dll
src/Spherical.Api/bin/Release/net10.0/System.Composition.TypedParts.dll
src/Spherical.Api/bin/Release/net10.0/System.Configuration.ConfigurationManager.dll
src/Spherical.Api/bin/Release/net10.0/System.Formats.Nrbf.dll
src/Spherical.Api/bin/Release/net10.0/System.IdentityModel.Tokens.Jwt.dll
src/Spherical.Api/bin/Release/net10.0/System.Memory.Data.dll
src/Spherical.Api/bin/Release/net10.0/System.Reflection.MetadataLoadContext.dll
src/Spherical.Api/bin/Release/net10.0/System.Resources.Extensions.dll
src/Spherical.Api/bin/Release/net10.0/System.Security.Cryptography.ProtectedData.dll
src/Spherical.Api/bin/Release/net10.0/System.Security.Permissions.dll
src/Spherical.Api/bin/Release/net10.0/System.Windows.Extensions.dll
src/Spherical.Api/bin/Release/net10.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/cs/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/cs/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Api/bin/Release/net10.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/de/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/de/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Api/bin/Release/net10.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/es/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/es/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Api/bin/Release/net10.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/fr/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/fr/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Api/bin/Release/net10.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/it/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/it/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Api/bin/Release/net10.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/ja/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/ja/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Api/bin/Release/net10.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/ko/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/ko/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Api/bin/Release/net10.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/pl/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/pl/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Api/bin/Release/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/pt-BR/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Api/bin/Release/net10.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/ru/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/ru/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Api/bin/Release/net10.0/runtimes/unix/lib/net9.0/Microsoft.Data.SqlClient.dll
src/Spherical.Api/bin/Release/net10.0/runtimes/win/lib/net10.0/Microsoft.Win32.SystemEvents.dll
src/Spherical.Api/bin/Release/net10.0/runtimes/win/lib/net9.0/Microsoft.Data.SqlClient.dll
src/Spherical.Api/bin/Release/net10.0/runtimes/win/lib/net9.0/System.Windows.Extensions.dll
src/Spherical.Api/bin/Release/net10.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
src/Spherical.Api/bin/Release/net10.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
src/Spherical.Api/bin/Release/net10.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
src/Spherical.Api/bin/Release/net10.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/tr/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/tr/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Api/bin/Release/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/zh-Hans/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Api/bin/Release/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Spherical.Api/bin/Release/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
src/Spherical.Api/bin/Release/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Spherical.Api/bin/Release/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Spherical.Api/bin/Release/net10.0/zh-Hant/Microsoft.Data.SqlClient.resources.dll
src/Spherical.Blazor/Components/cdlbgcwc.gek~
src/Spherical.Blazor/Components/gq1dzo0k.hsq~
src/Spherical.Client/bin/Release/net10.0/Spherical.Client.dll
src/Spherical.Client/bin/Release/net10.0/Spherical.Client.pdb
src/Spherical.Client/bin/Release/net10.0/Spherical.Core.dll
src/Spherical.Client/bin/Release/net10.0/Spherical.Core.pdb
src/Spherical.Core/bin/Release/net10.0/Spherical.Core.deps.json
src/Spherical.Core/bin/Release/net10.0/Spherical.Core.dll
src/Spherical.Core/bin/Release/net10.0/Spherical.Core.pdb
src/Spherical.Client/bin/Release/net10.0/Spherical.Client.deps.json
src/Spherical.Api/bin/Release/net10.0/appsettings.json
src/Spherical.Api/bin/Release/net10.0/appsettings.Development.json
