################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/scr/SEG.Api/.vs
/scr/SAF/GES.Api/bin/Debug/net6.0
/scr/SAF/GES.Api/obj
/scr/SAF/.vs
/scr/SAF/CoreGES/bin/Debug/net6.0
/scr/SAF/CoreGES/obj
/scr/SAF/CoreSAF/bin/Debug/net6.0
/scr/SAF/CoreSAF/obj/Debug/net6.0
/scr/SAF/CoreSAF/obj
/scr/SAF/CoreSEG/bin/Debug/net6.0
/scr/SAF/CoreSEG/obj
/scr/SAF/SAF/bin/Debug/net6.0
/scr/SAF/SAF/obj
/scr/SAF/SAF.Api/bin/Debug/net6.0
/scr/SAF/SAF.Api/obj
/scr/SAF/SEG.Api/bin/Debug/net6.0
/scr/SAF/SEG.Api/obj
/scr/CoreGES/bin/Debug/net6.0
/scr/CoreGES/obj
/scr/CoreSAF/.vs/CoreSAF
/scr/CoreSAF/bin/Debug/net6.0
/scr/.vs/GES.Api/DesignTimeBuild
/scr/.vs/GES.Api/FileContentIndex
/scr/.vs/GES.Api/v17
/scr/.vs/ProjectEvaluation
/scr/.vs
/scr/CoreSAF/obj
/scr/CoreSEG/bin/Debug/net6.0
/scr/CoreSEG/obj
/scr/GES.Api/.vs/GES.Api
/scr/GES.Api/bin/Debug/net6.0
/scr/GES.Api/obj
/scr/SAF/bin/Debug/net6.0
/scr/SAF/obj
/scr/SAF.Api/bin/Debug/net6.0
/scr/SAF.Api/obj
/scr/SEG.Api/bin/Debug/net6.0
/scr/SEG.Api/obj
