<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i></a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="Defender/"><i class="fa fa-user-shield" aria-hidden="true"></i> Seguridad</a>
            <a class="dropdown-item" href="Tactic/"><i class="fa fa-clipboard-check" aria-hidden="true"></i> Administración</a>
            <a class="dropdown-item" href="Lineup/"><i class="fa fa-dolly" aria-hidden="true"></i> Inventario</a>
            <a class="dropdown-item" href="Control/"><i class="fa fa-boxes-packing" aria-hidden="true"></i> Alquier</a>
            <a class="dropdown-item" href="Fordward"><i class="fa fa-receipt" aria-hidden="true"></i> Facturación</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="#"><i class="fa fa-newspaper" aria-hidden="true"></i> Noticias</a>
        </div>
        <a class="navbar-brand" href="#">Logo</a>
    </div>
</div>