<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i></a>
        
        <div class="dropdown-menu">

            <a class="dropdown-item" href="Defender/">Seguridad</a>
            <a class="dropdown-item" href="#">Administración</a>
            <a class="dropdown-item" href="#">Inventario</a>
            <a class="dropdown-item" href="#">Alquier</a>
            <a class="dropdown-item" href="#">Facturación</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="#">Noticias</a>

        </div>

        <a class="navbar-brand" href="">Logo</a>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}