

html[b-glsn1w5t9b], body[b-glsn1w5t9b] {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container[b-glsn1w5t9b] {
    height: 100%;
    align-content: center;
}

.card[b-glsn1w5t9b] {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span[b-glsn1w5t9b] {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

    .social_icon span:hover[b-glsn1w5t9b] {
        color: white;
        cursor: pointer;
    }

.card-header h3[b-glsn1w5t9b] {
    color: white;
}

.social_icon[b-glsn1w5t9b] {
    position: absolute;
    right: 20px;
    top: -45px;
}

input:focus[b-glsn1w5t9b] {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}
