@page "/"
@inject AuthenticationStateProvider _authenticationStateProvider
<PageTitle>Index</PageTitle>

<h1>Hello, @Nombre</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private string Nombre;
    protected override async Task OnInitializedAsync()
    {
        var authstate = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;
        Nombre = user.Identity.Name;
    }
}