.accordion-button[b-rwm57yex4c] {
    font-size: 18px;
    margin: 0px;
    padding: 2px;
}

.accordion-header[b-rwm57yex4c] {    
    margin: 0px;
    padding: 0px;
}

.accordion-body[b-rwm57yex4c] {
    margin: 0px;
    padding: 3px;
    font-size: 14px;
}
