@page "/login"
@using Creative.DTO.Defender
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Claims
@inject NavigationManager NavManager

<h3>Login</h3>

<EditForm method="post" FormName="ClickLogin" OnSubmit="ClickLogin" Model="UserCredentials">
    <DataAnnotationsValidator />
    <InputText @bind-Value="UserCredentials.Usuario" placeholder="Username"></InputText>

    <InputText @bind-Value="UserCredentials.Clave" placeholder="Password" />

    <button type="submit"> SignIn</button>

</EditForm>


@code {
    [CascadingParameter]
    public HttpContext httpcontext { get; set; } = default!;

    [SupplyParameterFromForm]
    public AutenticacionDTO UserCredentials { get; set; } = new AutenticacionDTO();

    public async Task ClickLogin()
    {
        var claims = new List<Claim>();
        claims.Add(new Claim(ClaimTypes.Name, "test")); // add more claims

        var claimsIdentity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);

        var principal = new ClaimsPrincipal(claimsIdentity);

        // Sign in the user
        await httpcontext.SignInAsync(principal);

        NavManager.NavigateTo("/");
    }
}